body {

}

.container {
	margin: 0px auto;
	width: 100%;	
}

h3 {
	font-size: 1.5em;
	color: #00AEEF;
	margin: 10px;
}

h3 span {
	 color: #939598;
}

label {
	display: inline-block;	
	width: 135px;
	padding: 5px;	
}

input {
	display: inline-block;
	width: 70px;
	padding: 5px;
	margin: 2px;
}

#selectForm {
	float: left;
	border: 1px solid #00AEEF;
	padding: 10px;
	width: 315px;
	margin: 10px;
}

#selectGrid {
	float: left;
    border-collapse: collapse;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-spacing: 0px;
    padding: 10px;
    margin: 10px;
        
}

.square {
	height: 5px;
    width: 5px;   
    border-top: 1px solid black; 
    border-left: 1px solid black;
    background-color: #00FE00;
    float:left;
	text-align: center;
	vertical-align: middle;
}
