html {
	background-color: #353739;
}

body {
	width: 960px;
	margin: auto;
	margin-top: 25px;
}

.container {
	padding: 20px;		
	border: 1px solid #9A989A;
	background-color: #FFFFFF;	
}

#header {
	border: 1px solid #00AEEF;
}

#header h3 {
	font-size: 2em;
	color: #00ADF1;
	margin: 5px;
	display: inline-block;
}

#header h3 span {
	 color: #9A989A;
}

#login {
	display: inline-block;
	border: 1px solid #00AEEF;
	color: #292929;
}

#jobManager {
	display: inline-block;
	border: 1px solid #00AEEF;
	padding: 10px;
	margin: 0px;
	width: 152px;
	height: 500px;
	color: #292929;
	float: left;
}

#jobManager input {
	display: inline-block;
	width: 70px;
	padding: 5px;
	margin: 2px;
}

.jobList {
	display: block;
	border: 1px solid #00AEEF;
	width: auto;
	height: 450px;
}

#selectionArea {
	display: inline-block;
	border: 1px solid #00AEEF;
	width: 722px;
	height: 500px;
}

#selectionForm {
	display: block;
	border: 1px solid #00AEEF;
	padding: 10px;
	margin: 5px;
	width: 315px;
	color: #292929;
}

#selectionForm label {
	display: inline-block;	
	width: 145px;
	padding: 5px;	
}

#selectionForm input {
	display: inline-block;
	width: 70px;
	padding: 5px;
	margin: 2px;
}

#selectionForm select {
	height: 29px;
	width: 84px;
	margin: 2px;	
}

#resultsList {
	display: block;
	border: 1px solid #00AEEF;
	padding: 10px;
	margin: 5px;	
	height: 243px;
}




