
body {
	border: 1px solid #00AEEF;
	width: 960px;
}

.container {
	padding:20px;
	margin: 0px auto;
	width: 100%;	
}

#sideBarLeft {
	display: inline-block;
	border: 1px solid #00AEEF;
	float: left;
	padding: 0px;
}

#selectionArea {
	display: inline-block;
	border: 1px solid #00AEEF;
	width: 535px;
	height: 600px;
	padding: 10px;
	margin-top: 5px;
}

#sideBarRight {
	display: block;
	border: 1px solid #00AEEF;
	width: 200px;
	height: 600px;
}

h3 {
	font-size: 2em;
	color: #00AEEF;
	margin: 5px;
}

h3 span {
	 color: #939598;
}

label {
	display: inline-block;	
	width: 145px;
	padding: 5px;	
}

input {
	display: inline-block;
	width: 70px;
	padding: 5px;
	margin: 2px;
}

#selectionForm {
	display: block;
	border: 1px solid white;
	padding: 10px;
	margin: 5px;
	width: 500px;
}

#jobManager {
	display: block;
	border: 1px solid #00AEEF;
	padding: 10px;
	margin: 5px;
	width: 200px;
	height: 600px;
}

.jobList {
	display: block;
	border: 1px solid #00AEEF;
	padding: 5px;
	margin: 5px;
	width: auto;
	height: 495px;
}

#resultsList {
	display: block;
	border: 1px solid #00AEEF;
	padding: 10px;
	margin: 5px;
	width: 500px;
	height: 342px;
}

select {
	height: 29px;
	width: 84px;
	margin: 2px;	
}


