#login-container {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}

h3 {
	font-size: 2em;
	color: #00ADF1;
	margin: 5px;
	display: inline-block;
}

h3 span {
	 color: #9A989A;
}

#userLogin {
	display: inline-block;
	color: #292929;
	padding: 5px;
	float: right;
}

#userLogin label {
	font-size: .85em;
}

#userLogin input {
	width: 140px;
}

#userLogin #login {
	width: 70px;
}